{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/footerstyle.css' %}" />
{% endblock %}
<footer>
      <div class="content-footer">
        <div class="resturant">
          <img src="{% static 'images/telegram_logo_circle_icon_134012.png' %}" class="res logo-sub-footer" alt="">
          <p>آریرانگلند</p>
        </div>
        <div class="contact-us">
          <img src="{% static 'images/undraw_social_influencer_re_beim.svg' %}" class="res chef-footer" alt="">
          <div class="social-icons">
            <a href="https://www.tiktok.com/"><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://discord.com/"><i class="fa-brands fa-discord"></i></a>
            <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://my.telegram.org/"><i class="fa-brands fa-telegram"></i></a>
          </div>
          <div class="location">
            <p><i class="fa-solid fa-location-dot"></i>مشهد ، میدان فهمیده ، فرامرز عباسی 54</p>
            <p><i class="fa-solid fa-location-dot"></i>تهران ، بزرگراه همت غرب به شرق ، خروجی شیخ فضل الله جنوب</p>
          </div>
        </div>
      </div>
    </footer>