{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/headstyle.css' %}" />
    
{% endblock %}
{% block content %}
    <div class="container-fluid">
          <div class="container">
            <div class="row">
              <div class="header-menu col-12 col-xl-12 mt-3">
                <div class="col-7 logo-wrapper">
                  <img src="{% static 'images/telegram_logo_circle_icon_134012.png' %}" class="res" alt="">
                  <a href="{% url 'blog:index' %}">آریرانگلند</a>
                </div>
                <form method="get" action="{% url 'blog:search_post' %}" class="col-3 search-wrapper">
                  <input type="text" placeholder="جستجو" name="query">
                    <button class="search-btn-wrapper" type="submit"><img class="res search-btn" src="{% static 'images/search-svgrepo-com.svg' %}"></button>
                </form>
                <div class="col-1 login-section">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'blog:profile' %}"><p>{{ request.user.first_name|default:request.user.username}}</p></a>
                        <a href="{% url 'blog:profile' %}"><img src="{% static 'images/0f02d8b8-1178-4c83-a3ff-2ec291c76f73.svg' %}" class="res" alt=""></a>
                    {% else %}
                        <a href="{% url 'blog:login' %}">ورود</a>
                        <a href="{% url 'blog:login' %}"><img src="{% static 'images/0f02d8b8-1178-4c83-a3ff-2ec291c76f73.svg' %}" class="res" alt=""></a>
                    {% endif %}
                    
                </div>
                <div class="col-1 menu-section">
                  <span class="material-symbols-outlined open-menu">menu</span>
                </div>
              </div>
            </div>
          </div>
        </div>
    <div class="menu-container hidden">
        <section>
            <div class="head-menu">
                <img src="{% static 'images/close-lg-svgrepo-com.svg' %}" class="menu-pic close res">
            </div>
            <div class="Menu">
                <img src="{% static 'images/telegram_logo_circle_icon_134012.png' %}" class="menu-logo res">
                <ul>
                    <li><a href="{% url 'blog:index' %}">صفحه اصلی</a></li>
                    <li><a href="{% url 'blog:profile' %}">پروفایل</a></li>
                    <li><a href="{% url 'blog:ticket' %}">ثبت تیکت</a></li>
                    <li><a href="{% url 'blog:createpost' %}">ایجاد پست</a></li>
                    <li><a href="{% url 'blog:edit_profile' %}">ادیت پروفایل</a></li>
                </ul>
            </div>
        </section>
    </div>
    <div class="overlay hidden"></div>
    <script>
        const modal = document.querySelector('.menu-container');
        const closeButton = document.querySelector('.close');
        const overlay = document.querySelector('.overlay');
        const openModalButton = document.querySelector('.open-menu');
        
        const closeModal = function() {
            modal.classList.remove('show');
            overlay.classList.remove('show');
            setTimeout(() => {
                modal.classList.add('hidden');
                overlay.classList.add('hidden');
            }, 300);
        };
        
        const openModal = function() {
            modal.classList.remove('hidden');
            overlay.classList.remove('hidden');
            setTimeout(() => {
                modal.classList.add('show');
                overlay.classList.add('show');
            }, 10); // Slight delay to ensure the elements are not hidden
        };
        
        openModalButton.addEventListener('click', openModal);
        closeButton.addEventListener('click', closeModal);
        overlay.addEventListener('click', closeModal);
        
        document.addEventListener('keydown', function(e) {
            if (e.key === 'Escape') {
                if (!modal.classList.contains('hidden')) {
                    closeModal();
                }
            }
        });
    </script>
{% endblock %}