{% extends 'parent/base.html' %}
{% load static %}
{% block title %}change password{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/passchange-style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
{% endblock %}
{% block content %}
        <form method="post" class="login-wrapper">
        {% csrf_token %}
          <div class="login">
          <div class="head-login">
            <h2>تغییر پسورد</h2>
          </div>
          <div class="body-login">
            <div class="username">
              <input name="old_password" type="password" placeholder="گذرواژه قدیمی" minlength="8" autocomplete="off">
                {{ form.old_password.errors }}
              <i class="fa-solid fa-lock"></i>
            </div>
            <div class="password">
              <input name="new_password1" type="password" placeholder="گذرواژه جدید" autocomplete="off">
                {{ form.new_password1.errors }}
              <i class="fa-solid fa-lock"></i>
            </div>
            <div class="password">
              <input name="new_password2" type="password" placeholder="تکرار گذرواژه جدید" autocomplete="off">
                {{ form.new_password2.errors }}
              <i class="fa-solid fa-lock"></i>
            </div>
          </div>
          <div class="footer-login">
            <button type="submit">تایید</button>
          </div>
        </div>
    </form>
{% endblock %}
