{% extends 'parent/base.html' %}
{% load static %}
{% block title %}login{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/reset-password-style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
{% endblock %}
{% block content %}
    {% if validlink %}
       <div class="form-container">
          <p class="title">تغییر رمز عبور</p>
          <form class="form" method="post">
              {% csrf_token %}
            <input name="new_password1" type="password" class="input" placeholder="گذرواژه جدید">
              {{ form.new_password1.errors }}
            <input name="new_password2" type="password" class="input" placeholder="تکرار گذرواژه جدید">
              {{ form.new_password2.errors }}
            <button class="form-btn" type="submit">تایید</button>
          </form>
       </div>
    {% else %}
        <div class="content-wrapper">
            <p>لینک تغییر گذرواژه شما معتبر نیست</p>
        </div>
    {% endif %}

{% endblock %}
