{% extends 'parent/base.html' %}
{% load static %}
{% block title %}reset password{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/reset-password-style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
{% endblock %}
{% block content %}
       <div class="form-container">
          <p class="title">تغییر رمز عبور</p>
          <form class="form" method="post">
              {% csrf_token %}
              <p>ایمیل خود را وارد کنید :</p>
            <input name="email" type="email" class="input" placeholder="ایمیل " style="direction: rtl">
              {{ form.email.errors }}
            <button class="form-btn" type="submit">تایید</button>
          </form>
       </div>
{% endblock %}


